@model ReservationViewModel
@{
    ViewData["Title"] = "Reservation";
}

<a asp-controller="Reservation" asp-action="Create">
    <button class="btn btn-primary mb-2">Create reservation</button>
</a>

<table class="table table-sm table-hover table-bordered">
    <thead class="table-dark">
    <th>Employee</th>
    <th>From</th>
    <th>To</th>
    <th>Floor</th>
    <th>Room</th>
    <th>Table</th>
    <th></th>
    </thead>
    <tbody>
        @foreach (var row in Model.Reservations)
        {
            <tr>
                <td>@row.EmployeeName</td>
                <td>@row.TimeFrom</td>
                <td>@row.TimeTo</td>
                <td>@row.Floor</td>
                <td>@row.Room</td>
                <td>@row.Table</td>
                <td>
                    @using (Html.BeginForm("Delete", "Reservation", FormMethod.Post))
                    {
                        <button class="btn btn-danger" type="submit" name="reservationId" value="@row.Id">Delete reservation</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>